body {
  background-color: black;
  margin-left:1em;
}

* {
  color: white;
}

a {
  color: #cdcdcd;
}
a:link {
  text-decoration:none;
}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

.cfgtable {
  width: 98%;
}

.progress {
  min-width: 4in;
  height: 0.3in;
  margin-bottom: 3px;
}

.xoverflow {
  overflow: visible;
}

.build_title {
  font-size: 2.9em;
  font-weight: bold;
  margin: 0;
  padding: 2px;
}

.config_title {
  font-size: 0.9em;
  float: left;
  width: 2in;
}

.build_item {
  margin: 1px;
  padding: 1px;
  padding-left: 4px;
}

td {
  padding: 1em;
}
th {
  padding: 1em;
}

input {
  background-color: #000000;
  border: 1px solid silver;
}

.floatleft {
  float: left;
  margin-left: 1em;
  margin-right: 2em;
}
