$def with (settings, selected_jobs, jobs)

$var title="Admin"

<h2>Jenkinsboard Settings</h2>

<form method="POST">
    <table>
        <tr>
            <th>
                Jenkins Server Address
            </th>
            <td>
                <input size="40" type="text" name="serveraddress" value="$settings['master']"/>
            </td>
        </tr>
    </table>
    <input type="submit" value="Save"/>

    $if selected_jobs:
        <h3>Selected Jobs</h3>

    $for job in selected_jobs:
        <br/>
        <input type="checkbox" name="jobs" value="$job" checked="checked"> $job</input>


    $if jobs:
        <h3>Select Jobs to Display</h3>

    $for job in jobs:
        <br/>
        <input type="checkbox" name="jobs" value="$job"> $job</input>

</form>
