$def with (err)

$var title="Builds"

$if err:
  $ s = err
  <div class="alert" style="white-space:pre">$s</div>

<div class="container-fluid" id="jobs" style="color:white">
</div>

<div class="admin" style="position: absolute; top: 0px; right: 1em;">
  <a href="/admin"><h4>[configure]</h4></a>
</div>

<script type="text/javascript">

function make_div( setclass ) {
  var rv = $$("<div/>");
  rv.addClass(setclass);
  return rv; 
}

function make_id( prefix, parts ){
  var id = prefix + "_";
  for ( part in parts ) {
    pname = parts[part];
    pname = pname.replace("=","_");
    pname = pname.replace(".","-");
    id = id + "_" + encodeURIComponent( pname );
  }
  return id;
}

function add_build_item( paths, item ) {
  var cfgitems = new Array();

  if ( item.configs.length == 0 ){
    item.configs.push("x");
  }

  for (var cfg in item.configs) {

    var cfgdata = new Array();
    var cfgvalues = [];
    var cfgname = "-";
    var colsize = 6;

    if (item.configs[cfg].indexOf("=")){
      cfgvalues=item.configs[cfg].split("=");
      cfgname=cfgvalues[1];
    }

    if ( item.configs.length % 2 ) {
      colsize = 4;
    }
    
    if ( !item.configs || item.configs.length == 1 ) {
      cfgname = false;
      colsize = false;
    }

    cfgdata["id"] = make_id( "build_", [ item.name, cfg ] );
    cfgdata["title"] = cfgname;
    cfgdata["colsize"] = colsize;
    cfgdata["link"] = item.link + "/" + item.configs[cfg];
    cfgdata["doneid"] = make_id( "done_", [item.name, item.configs[cfg]]);
    cfgdata["leftid"] = make_id( "left_", [item.name, item.configs[cfg]]);
    cfgitems.push(cfgdata);
    paths.push(item.path);
  }
  var displayname = item.name.replace("Mainline","")
  var xcfg = $$().handlebars($$("#build_item_template"), {
    title: displayname,
    link: item.link,
    configs: cfgitems });
  return xcfg;

}

var jobrows = [];

var busy = false;

var jobs = $$.getJSON( "/selected/", function (data) {
    var paths = new Array();
    for (var job in data)
    {
      var item = data[job];
      // two or more items
      if (item.configs.length > 1 ){
        // is a multi-configuration job
        var xcfg = add_build_item( paths, item );
        var row = make_div("row");
        row.append(xcfg);
        $$("#jobs").append(row); 
        update_build(item.path);
      }
    }

    // single items
    var singles = 0;
    var row = make_div("row");
    for (var job in data)
    { 
      if ( singles > 3 ) {
        $$("#jobs").append(row);
        row = make_div("row");
        singles = 0;
      }
      var item = data[job];
      
      if ( item.configs.length < 2 ) {
        var x = add_build_item( paths, item );
        x.addClass("floatleft");
        row.append(x);
        update_build(item.path);
        singles++;
      }
    }
    $$("#jobs").append(row);

    setInterval( function(){  
      if ( !busy ) {
        busy = true;
        for ( var x in paths ) {
          console.log( paths[x] );
          update_build( paths[x] );
        } 
      }
      busy = false;
    }, 8000 );
  } );

  function progress_active( pbar ) {
    pbar.removeClass("progress-bar-danger");
    pbar.addClass("progress-bar-warning");
    if (!pbar.parent().hasClass("active")) {
      pbar.parent().addClass("active");
      pbar.parent().addClass("progress-striped");
    }
  }

  function progress_remain( pbar )
  {
    pbar.removeClass("progress-bar-danger");
    pbar.addClass("progress-bar-warning");
    if (!pbar.parent().hasClass("active")) {
      pbar.parent().addClass("active");
      pbar.parent().addClass("progress-striped");
    }
  }

  function progress_done( pbar ) 
  { 
    pbar.removeClass("progress-bar-warning");
    pbar.parent().removeClass("active");
    pbar.parent().removeClass("progress-striped");
  }

  function progress_done_success( pbar ) {
    progress_done( pbar );
    pbar.addClass("progress-bar-success");
    pbar.removeClass("progress-bar-danger");
    pbar.removeClass("progress-bar-warning");
  }

  function progress_done_danger( pbar ) {
    progress_done( pbar );
    pbar.removeClass("progress-bar-success");
    pbar.addClass("progress-bar-danger");
    pbar.removeClass("progress-bar-warning");
  }

  function progress_done_warning( pbar ) {
    progress_done( pbar );
    pbar.removeClass("progress-bar-success");
    pbar.removeClass("progress-bar-danger");
    pbar.addClass("progress-bar-warning");
  }

  var build_update_count = 0;

  function update_build( itempath ) {
    if ( build_update_count > 3 ) {
      // too many requests, wait a bit
      setTimeout( function() { update_build(itempath); }, 1000 );
      return; 
    }
    build_update_count++;
    $$.getJSON("/status/" + itempath, function (state) {
      build_update_count--;
      var jname = state.name;
      if ( state.state.hasOwnProperty("result") ){
        var tmp = state.state;
        state.state = {}
        state.state["x"] = tmp
      }

      for ( var cfg in state.state ) {
        var config = state.state[cfg];

        var block = $$( "#" + make_id( "build_", [state.name, cfg]));
        var pr_done = $$( "#" + make_id( "done_", [state.name, cfg]));
        var pr_left = $$( "#" + make_id( "left_", [state.name, cfg]));

        var completed = 100;
        if ( config.result == "SUCCESS" ) {
          progress_done_success( pr_done );

        } else {

          //progress_done_danger( pr_left );
          if ( config.building ) {
            progress_remain( pr_done );
            if ( config.estimatedDuration > 0 ) 
            {
              var timestamp = new Date().getTime();
              var duration = timestamp - config.timestamp;
              var frac = duration / config.estimatedDuration;
              completed = 100 * frac;
              if ( completed > 100 ) {
                completed = 99;
              }
            }
          } else {
            progress_done_danger( pr_done );
          }
        }

        pr_done.width( completed + "%" );
        pr_left.width( (100 - completed) + "%" );

      }

//      $$("#build_" + state.name );
       
    }, function (x) { build_update_count--; });
  }

</script>


