$def with (content)

<!DOCTYPE html>
<html>
  <head>
    <title>$content.title</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <script src="/static/js/jquery-1.8.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/handlebars.js"></script>
    <script src="/static/js/handlebars_helper.js"></script>

    <link href="/static/css/board.css" rel="stylesheet"/>
    <meta http-equiv="refresh" content="900"> <!-- full refresh every 15 minutes -->
  </head>
  
  <script id="build_item_template" type="text/x-handlebars-template">

  <div class="build_item" id="build_{{title}}" class="col-md-6"> 
    <span class="build_title">
      <a href="{{link}}">{{title}}</a>
    </span>

    <div class="build_configs container-fluid">
      <div class="row">
      {{#each configs}}
      {{#if colsize}}
      <div class="col-md-{{colsize}}">
      {{/if}}
      {{#if title}}
      <div class="config_title"><a href="{{link}}">{{title}}</a></div>
      {{/if}}
      <div class='progress'>
        <div id='{{doneid}}' class='progress-bar'>{{blame}}</div>
        <div id='{{leftid}}' class='progress-bar'></div>
      </div>
      </div>
      {{/each}}
      </div>
    </div>
  </div>

  </script>



  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
        $:content
        </div>
      </div>
    </div>

  </body>
</html>
